

  <!-- Search -->
  <section>
    <form class="search" method="get" action="#">
      <input type="text" name="query" placeholder="Search" />
    </form>
  </section>

  <!-- Links -->
  <section>
    <ul class="links">
      <li>
        <a href="#">
          <h3>Lorem ipsum</h3>
          <p>Feugiat tempus veroeros dolor</p>
        </a>
      </li>
      <li>
        <a href="#">
          <h3>Dolor sit amet</h3>
          <p>Sed vitae justo condimentum</p>
        </a>
      </li>
      <li>
        <a href="#">
          <h3>Feugiat veroeros</h3>
          <p>Phasellus sed ultricies mi congue</p>
        </a>
      </li>
      <li>
        <a href="#">
          <h3>Etiam sed consequat</h3>
          <p>Porta lectus amet ultricies</p>
        </a>
      </li>
    </ul>
  </section>

  <!-- Actions -->
  <section>
    <ul class="actions vertical">
      <li><a style="cursor: pointer" class="button big fit" appClassToggle>Log In</a></li>
    </ul>
    <ul class="actions align-center">
      <li><button class="button" (click)="onLogin()">Login</button></li>
      <li><button class="button" (click)="onLogout()">Logout</button></li>
    </ul>
  </section>
