.overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: none;
  z-index: 10001;
  transition: all ease .5s;
}
.overlay.toggled {
  background: rgba(128, 128, 128, .5);
  visibility: visible;
}
