<article class="post">

  <header>
    <div class="title">
      <h2 *ngIf="editMode">Edit</h2>
      <h2 *ngIf="!editMode">New</h2>
    </div>
    <div class="meta">
      <time class="published" datetime="2015-10-18">{{ thisPost.date }}</time>
      <a href="#" class="author"><span class="name" >{{ thisPost.author }}</span><img src="{{ thisPost.avatarImage }}" alt="" /></a>
    </div>
  </header>

  <section>

    <form method="post" action="#">

      <div class="row uniform">

        <div class="12u$">
          <span>Post title:</span>
          <input type="text" name="post-title" id="post-title" value="{{ thisPost.title }}" placeholder="Post title" />
        </div>

        <div class="12u$">
          <span>Post description:</span>
          <input type="text" name="post-description" id="post-description" value="{{ thisPost.description }}" placeholder="Post description" />
        </div>

        <div class="12u$">
          <span>Image path:</span>
          <input type="text" name="image-path" id="image-path" value="{{ thisPost.imagePath }}" placeholder="Image path" />
        </div>


        <div class="12u$">
          <span>Post preview text (500 characters max) :</span>
          <textarea name="post-text" id="post-preview-text" placeholder="Post preview text" rows="5">{{ thisPost.postText }}</textarea>
        </div>

        <div class="12u$">
          <span>Post text:</span>
          <textarea name="post-text" id="post-text" placeholder="Post text" rows="10">{{ thisPost.postText }}</textarea>
        </div>


        <div class="6u 12u$(xsmall)">
          <span>Select category:</span>
          <div class="select-wrapper">
            <select name="demo-category" id="demo-category">
              <option value="1">General</option>
              <option value="2">Other</option>
            </select>
          </div>
        </div>

        <div class="6u 12u$(xsmall) align-right">
          <p></p>
          <ul class="actions">
            <li><input class="icon fa-save" type="submit" value="Save" /></li>
            <li><input type="reset" value="Close" /></li>
          </ul>
        </div>

      </div>
    </form>
  </section>


</article>
