<article class="post">

  <header>
    <div class="title">
      <h2 *ngIf="isEdit">Edit</h2>
      <h2 *ngIf="!isEdit">New</h2>
    </div>
    <div class="meta">
      <time class="published" [attr.datetime]="selectedPost.date">{{ selectedPost.date | date:'MMMM d, y' }}</time>
      <a href="#" class="author"><span class="name" >{{ selectedPost.author }}</span><img src="{{ selectedPost.avatarImage }}" alt="" /></a>
    </div>
  </header>

  <section>
    <div class="box alt">
    <!--<p class="aster" *ngIf="!editForm.valid && editForm.touched">Please check and enter all required data:</p>-->
    <form (ngSubmit)="onSubmit(editForm.value)" #editForm="ngForm">

      <div class="row uniform">

        <div class="12u$">
          <span>Post title: <i class="aster">*</i></span>
          <input type="text" name="title" id="post-title" ngModel="{{ selectedPost.title }}" placeholder="Post title" required />
        </div>

        <div class="12u$">
          <span>Post description: <i class="aster">*</i></span>
          <input type="text" name="description" id="post-description" ngModel="{{ selectedPost.description }}" placeholder="Post description" required />
        </div>

        <div class="12u$">
          <img [src]="imagePath.value" alt="" >
          <span>Image path: <i class="aster">*</i></span>
          <input type="text" name="imagePath" id="image-path" ngModel="{{ selectedPost.imagePath }}" placeholder="Image path" #imagePath required />
        </div>


        <div class="12u$">
          <span>Post preview text (500 characters max - {{ selectedPost.postText ? selectedPost.postText.length : 0}}): <i class="aster">*</i></span>
          <textarea maxlength="500" name="postText" id="post-preview-text" ngModel="{{ selectedPost.postText }}" placeholder="Post preview text" rows="5" required ></textarea>
        </div>

        <!--<div class="12u$">-->
          <!--<span>Post text:</span>-->
          <!--<textarea name="post-full-text" id="postFullText" placeholder="Post text" rows="10"></textarea>-->
        <!--</div>-->


        <div class="6u 12u$(xsmall)">
          <label for="category">Select category:</label>
          <div class="select-wrapper">
            <select name="category" id="category" [ngModel]="'General'">
              <option value="General">General</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>

        <div class="6u 12u$(xsmall) align-right">
          <p></p>
          <ul class="actions">
            <li><button type="submit" class="icon fa-save" value="Save" [disabled]="!editForm.valid">Save</button></li>
            <li><input routerLink="/manage" type="reset" value="Close" /></li>
          </ul>
        </div>

      </div>
    </form>
    </div>
  </section>


</article>
