<article class="post">

  <header>
    <div class="title">
      <h2><a href="#">{{ selectedPost.title }}</a></h2>
      <p>{{ selectedPost.description }}</p>
    </div>
    <div class="meta">
      <time class="published" datetime="2015-10-18">{{ selectedPost.date }}</time>
      <a href="#" class="author"><span class="name">{{ selectedPost.author }}</span><img [src]="selectedPost.avatarImage" alt="" /></a>
    </div>
  </header>

  <section>

    <div class="box alt">
      <div class="row uniform">
        <div class="12u$"><span class="image fit"><img [src]="selectedPost.imagePath" alt="{{ selectedPost.title }}" /></span></div>
      </div>
    </div>

    <p>{{ selectedPost.postText }}</p>
    <p>{{ selectedPost.postText }}</p>
    <div class="12u$"><span class="image fit"><img [src]="selectedPost.imagePath" alt="{{ selectedPost.title }}" /></span></div>
    <p>{{ selectedPost.postText }}</p>

  </section>

  <ul class="actions align-center">
    <li><a style="cursor: pointer" class="button">Edit</a></li>
    <li><a href="#" class="button">Delete</a></li>
  </ul>

</article>
